.catalog__slogan {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 7px;
}

.catalog__text {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 93px;
}

.catalog {
  max-width: 1680px;
  width: 87.5%;
  margin: 0 auto 186px;
  padding: 188px 0 0;
}

.catalog__price {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  font-size: 20px;
  color: $pale-orange;
  margin-right: 79px;
  margin-bottom: 10px;
}

.catalog__button {
  border: 1px solid $orange;
  width: 161px;
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $black;
  padding: 9px 10px 8px 12px;
  cursor: pointer;
}

.catalog__button:hover,
.catalog__button:focus {
  background-color: $orange;
  color: $white;
}

.catalog__wrapper {
  border: 1px solid transparent;
  margin-bottom: 18px;
}

.catalog__item:hover .catalog__wrapper {
  border-color: $border-orange;
}

.catalog__description {
  font-size: 14px;
  line-height: 24px;
}

.catalog__item-name {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.catalog__text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 51px;
  margin-bottom: 19px;
  margin-right: 99px;
}

.catalog__image {
  width: 327px;
  display: block;
  margin: 0 auto 28px;
}

.catalog__block {
  display: flex;
  align-items: flex-end;
  margin-left: 42px;
  flex-wrap: wrap;
}

.catalog__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__item {
  width: 24.11%;
  margin-bottom: 60px;
  max-width: 406px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &--2804-10 {
    .catalog__block {
      margin-left: 51px;
    }
  }

  &--0109-3-10 {
    .catalog__text-wrapper {
      margin-left: 40px;
    }

    .catalog__price {
      margin-right: 88px;
    }
  }

  &--0057-10 {
    .catalog__text-wrapper {
      margin-left: 40px;
      margin-right: 115px;
    }

    .catalog__price {
      margin-right: 87px;
    }
  }

  &--0053-10,
  &--0101-6-10,
  &--0025-10,
  &--0043-10 {
    .catalog__image {
      margin-bottom: 14px;
    }

    .catalog__text-wrapper {
      margin-left: 33px;
      margin-bottom: 16px;
    }
  }

  &--0053-10 {
    .catalog__text-wrapper {
      margin-right: 129px;
    }

    .catalog__block {
      margin-left: 36px;
    }

    .catalog__price {
      margin-top: 10px;
    }
  }

  &--0101-6-10 {
    .catalog__text-wrapper {
      margin-right: 122px;
    }

    .catalog__wrapper {
      margin-bottom: 16px;
    }

    .catalog__block {
      margin-left: 38px;
    }

    .catalog__price {
      margin-right: 87px;
    }
  }

  &--0025-10 {
    .catalog__text-wrapper {
      margin-left: 43px;
      margin-right: 124px;
    }

    .catalog__wrapper {
      margin-bottom: 14px;
    }

    .catalog__block {
      margin-left: 54px;
    }

    .catalog__price {
      margin-right: 84px;
    }
  }

  &--0043-10 {
    .catalog__text-wrapper {
      margin-left: 44px;
      margin-right: 114px;
    }

    .catalog__block {
      margin-left: 45px;
    }

    .catalog__wrapper {
      margin-bottom: 17px;
    }

    .catalog__price {
      margin-right: 89px;
    }
  }
}

.catalog__add-items {
  padding: 0;
  border: none;
  font-family: "Playfair Display", "Times New Roman", serif;
  line-height: 25px;
  display: inline-block;
  vertical-align: top;
  width: 60px;
  border-bottom: 1px solid $border-orange;
  background-color: transparent;
  text-align: left;
  position: relative;
  cursor: pointer;
  outline: none;
}

.catalog__add-items::before {
  position: absolute;
  content: "";
  background-color: $black;
  width: 4px;
  height: 1px;
  transform: rotate(45deg);
  top: 12px;
  right: 0;
}

.catalog__add-items::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  background-color: $black;
  right: 0;
  top: 14px;
}

.catalog__add-items:hover,
.catalog__add-items:focus {
  color: $orange;
  border-color: $orange;
}

.catalog__add-items:hover::before,
.catalog__add-items:hover::after,
.catalog__add-items:focus::before,
.catalog__add-items:focus::after {
  background-color: $orange;
}

.catalog__add-items:active {
  opacity: 0.7;
}

.catalog__button-wrapper {
  text-align: center;
}

.catalog__buttons-wrap {
  display: none;
}

@media (max-width: $notebook) {
  .catalog {
    max-width: 1206px;
    width: 83.5%;
    padding-top: 113px;
    margin-bottom: 120px;
  }

  .catalog__slogan {
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 8px;
  }

  .catalog__text {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 37px;
  }

  .catalog__image {
    width: 285px;
    margin-bottom: 9px;
  }

  .catalog__text-wrapper {
    margin-left: 15px;
    margin-bottom: 13px;
    margin-right: 14px;
  }

  .catalog__price {
    margin-right: 13px;
  }

  .catalog__block {
    margin-left: 20px;
  }

  .catalog__item {
    width: 23.71%;
    margin-bottom: 60px;

    &--2804-10 {
      .catalog__block {
        margin-left: 37px;
      }

      .catalog__price {
        margin-right: 15px;
      }

      .catalog__text-wrapper {
        margin-left: 21px;
      }
    }

    &--0109-3-10 {
      .catalog__text-wrapper {
        margin-left: 18px;
      }

      .catalog__block {
        margin-left: 34px;
      }

      .catalog__price {
        margin-right: 12px;
      }
    }

    &--0057-10 {
      .catalog__text-wrapper {
        margin-left: 18px;
        margin-right: 10%;
      }

      .catalog__block {
        margin-left: 31px;
      }

      .catalog__price {
        margin-right: 12px;
      }
    }

    &--0053-10 {
      .catalog__image {
        margin-bottom: 10px;
      }

      .catalog__text-wrapper {
        margin-left: 18px;
        margin-right: 77px;
      }

      .catalog__price {
        margin: 0 13px 8px 0;
      }
    }

    &--0101-6-10 {
      .catalog__image {
        margin-bottom: 10px;
      }

      .catalog__text-wrapper {
        margin-left: 20px;
        margin-right: 65px;
      }

      .catalog__block {
        margin-left: 33px;
      }

      .catalog__price {
        margin-right: 14px;
      }
    }

    &--0025-10 {
      .catalog__image {
        margin-bottom: 10px;
      }

      .catalog__text-wrapper {
        margin-left: 18px;
        margin-right: 65px;
      }

      .catalog__block {
        margin-left: 32px;
      }

      .catalog__price {
        margin-right: 14px;
      }
    }

    &--0043-10 {
      .catalog__image {
        margin-bottom: 10px;
      }

      .catalog__text-wrapper {
        margin-left: 18px;
        margin-right: 65px;
      }

      .catalog__block {
        margin-left: 32px;
      }

      .catalog__price {
        margin-right: 14px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .catalog {
    padding: 94px 10px 0;
    max-width: 628px;
    width: auto;
    margin-bottom: 90px;
  }

  .catalog__price {
    margin-right: 23px;
  }

  .catalog__item {
    min-width: 293px;
    margin-bottom: 42px;

    &--0043-10,
    &--0025-10,
    &--0101-6-10,
    &--0053-10 {
      display: none;
    }

    &--0057-10,
    &--0109-3-10 {
      .catalog__price {
        margin-right: 19px;
      }
    }
  }

  .catalog__list {
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile) {
  .catalog__item:hover .catalog__wrapper {
    border-color: transparent;
  }

  .catalog__slogan {
    font-size: 26px;
    line-height: 35px;
  }

  .catalog {
    padding: 55px 5.9% 0;
    margin-bottom: 40px;
  }

  .catalog__text {
    line-height: 24px;
    padding-right: 22px;
    margin-bottom: 17px;
  }

  .catalog__button-wrapper {
    display: none;
  }

  .catalog__price {
    margin-right: 0;
  }

  .catalog__wrapper {
    margin-bottom: 0;
  }

  .catalog__block {
    justify-content: space-between;
    align-self: center;
  }

  .catalog__list {
    position: relative;
    min-height: 460px;
    display: block;
    border-top: 1px solid $border-orange;
    margin-bottom: 35px;
  }

  .catalog__item {
    min-width: 100%;
    max-width: 285px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    padding-top: 18px;

    &--0043-10,
    &--0025-10,
    &--0101-6-10,
    &--0053-10 {
      display: flex;
    }

    &--2804-10 {
      .catalog__block {
        margin-left: 34px;
      }
    }

    &--0109-3-10 {
      .catalog__price {
        margin-right: 9px;
      }
    }

    &--0057-10 {
      .catalog__price {
        margin-right: 8px;
      }
    }

    &--0053-10 {
      .catalog__price {
        margin-right: 8px;
      }
    }

    &--0101-6-10 {
      .catalog__price {
        margin-right: 11px;
      }

      .catalog__text-wrapper {
        margin-right: 60px;
      }
    }

    &--0025-10,
    &--0043-10 {
      .catalog__price {
        margin-right: 11px;
      }
    }

    &--2778-10 {
      .catalog__text-wrapper {
        margin-right: 11px;
      }

      .catalog__price {
        margin-right: 9px;
      }
    }

    &--showing-slide {
      opacity: 1;
      z-index: 2;
    }
  }

  .catalog__text-wrapper {
    margin-bottom: 32px;
  }

  .catalog__image {
    margin-bottom: 14px;
  }

  .catalog__buttons-list {
    @include reset-list;
    display: flex;
    width: 132px;
    justify-content: space-between;
  }

  .catalog__buttons-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__controls {
    z-index: 100;
    cursor: pointer;

    &--previous,
    &--next {
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      border: none;
      outline: none;
    }

    &--previous {
      display: inline-block;
      vertical-align: top;
      width: 15px;
      height: 30px;

      span {
        display: block;
        width: 12px;
        height: 1px;
        background-color: $black;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        position: relative;
      }

      span::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 1px;
        background-color: $black;
        transform: rotate(-45deg);
        left: 0;
        top: -2px;
      }
    }

    &--previous:hover span,
    &--previous:focus span {
      background-color: $black-hover;
    }

    &--previous:active {
      opacity: 0.7;
    }

    &--next {
      font-family: "Playfair Display", "Times New Roman", serif;
      letter-spacing: 0.02em;
      font-size: 16px;
      line-height: 22px;
      width: 79px;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $pale-orange;

      .catalog__arrow-toggle {
        display: block;
        width: 12px;
        height: 1px;
        background-color: $black;
        position: relative;
      }

      .catalog__arrow-toggle::after {
        position: absolute;
        content: "";
        width: 5px;
        height: 1px;
        background-color: $black;
        transform: rotate(45deg);
        right: 0;
        top: -2px;
      }
    }

    &--next:hover .catalog__arrow-toggle,
    &--next:focus .catalog__arrow-toggle {
      background-color: $black-hover;
    }

    &--next:hover .catalog__arrow-toggle::after,
    &--next:focus .catalog__arrow-toggle::after {
      background-color: $black-hover;
    }

    &--next:hover,
    &--next:focus {
      color: $black;
    }

    &--next:active {
      opacity: 0.7;
    }
  }

  .catalog__button-number {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 16px;
    line-height: 32px;
    font-family: "Playfair Display", "Times New Roman", serif;
    color: $pale-orange;
    cursor: pointer;
    outline: none;
  }

  .catalog__button-number:hover,
  .catalog__button-number:focus {
    color: $black;
  }

  .catalog__button-number:active {
    opacity: 0.7;
  }
}
