.page-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $dark-beige;
  z-index: 1000;
}

.page-header__icon-logo {
  color: $black;
  margin-right: 13px;
}

.page-header__logo-name {
  width: 105px;
  display: block;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 17.5px;
  line-height: 23px;
}

.page-header__container {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6.25% 30px;
  position: relative;
}

.page-header__container::after {
  position: absolute;
  content: "";
  background-color: $pale-orange;
  bottom: 0;
  right: 0;
  width: 72.65%;
  height: 1px;
}

.page-header__logo-link {
  display: flex;
  align-items: center;
}

.page-header__button {
  display: none;
}

@media (max-width: $notebook) {
  .page-header__logo-name {
    font-size: 14px;
    line-height: 19px;
  }

  .page-header__icon-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .page-header__container {
    max-width: 1440px;
    padding: 19px 7.8% 10px 8.3%;
  }

  .page-header__wrapper {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .page-header__container::after {
    width: 75%;
  }
}

@media (max-width: $tablet) {
  .page-header__button {
    display: block;
    border: none;
    padding: 0;
    background-color: transparent;
    width: 32px;
    height: 42px;
    cursor: pointer;
    outline: none;
  }

  .page-header__button span {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23px;
    height: 3px;
    background-color: transparent;
    position: relative;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    align-items: center;
  }

  .page-header__button span::before,
  .page-header__button span::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 3px;
    background-color: $pale-orange;
    left: -4px;
    top: 0;
    transition: top 0.3s, transform 0.3s  0.3s;
  }

  .page-header__button span::before {
    transform: rotate(-45deg);
  }

  .page-header__button span::after {
    transform: rotate(45deg);
  }

  .page-header__container {
    position: relative;
    padding: 19px 10.8% 20px 10.8%;
    border-bottom: 1px solid $pale-orange;
  }

  .page-header__button:hover span::before,
  .page-header__button:hover span::after,
  .page-header__button:focus span::before,
  .page-header__button:focus span::after {
    background-color: $border-orange;
  }

  .page-header__button:active {
    opacity: 0.7;
  }

  .page-header__container::after {
    display: none;
  }

  .page-header {
    &--menu-closed {
      .main-nav {
        display: none;
      }

      .page-header__button span {
        background-color: $pale-orange;
      }

      .page-header__button span::before {
        top: -7px;
      }

      .page-header__button span::after {
        top: 7px;
      }

      .page-header__button span::before,
      .page-header__button span::after {
        transform: none;
        transform-origin: 50% 50%;
        transition: top 0.3s 0.3s, transform 0.3s;
      }

      .page-header__container {
        border-bottom: 0;
      }

      .page-header__button:hover span,
      .page-header__button:focus span {
        background-color: $border-orange;
      }

      .page-header__container::after {
        width: 43%;
        right: 11%;
        display: block;
      }
    }
  }
}

@media (max-width: $mobile) {
  .page-header__icon-logo {
    width: 27px;
    height: 23px;
    flex-shrink: 0;
  }

  .page-header__logo-name {
    font-size: 14px;
    line-height: 19px;
    width: 100%;
  }

  .page-header__container {
    padding: 11px 6% 13px 5.8%;
  }

  .page-header__button {
    width: 26px;
    height: 26px;
  }

  .page-header__button span {
    width: 19px;
    height: 2px;
  }

  .page-header__button span::after,
  .page-header__button span::before {
    width: 26px;
    height: 2px;
  }

  .page-header__container::after {
    width: 200px;
    right: 0;
  }
}
