.service {
  margin: 0 auto 200px;
  max-width: 1681px;
  width: 87.55%;
}

.service__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__title {
  font-size: 36px;
  line-height: 48px;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  margin: 0 0 10px;
}

.service__slogan {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 100px;
}

.service__name {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 16px;
  position: relative;
}

.service__name::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: $border-orange;
  left: 0;
  bottom: -7px;
}

.service__item {
  width: 24.15%;
  background-repeat: no-repeat;
  padding-top: 114px;
  background-position: top 0 left 0;
  min-height: 324px;

  &--setting {
    background-image: url("../img/backgrounds/earrings-1920@1x.png");
    background-size: 73px 77px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/earrings-1920@2x.png");
    }

    .service__name::before {
      width: 99px;
    }
  }

  &--delivery {
    background-image: url("../img/backgrounds/delivery-1920@1x.png");
    background-size: 79px 79px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/delivery-1920@2x.png");
    }

    .service__name::before {
      width: 90px;
    }
  }

  &--payment {
    background-image: url("../img/backgrounds/pay-1920@1x.png");
    background-size: 80px 80px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/pay-1920@2x.png");
    }

    .service__name::before {
      width: 73px;
    }
  }

  &--guarantee {
    background-image: url("../img/backgrounds/label-1920@1x.png");
    background-size: 79px 79px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/label-1920@2x.png");
    }

    .service__name::before {
      width: 94px;
    }
  }
}

.service__text {
  margin: 0;
}

.service__guarantee-list {
  @include reset-list;
}

.service__label {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 8px;
  line-height: 8px;
  color: $border-orange;
  background-color: $questions-bg;
  width: 11px;
  height: 11px;
  border: 1px solid $border-orange;
  flex-shrink: 0;
  margin-right: 5px;
}

.service__guarantee-item {
  display: flex;
  align-items: center;
  position: relative;
}

.service__note-text {
  position: absolute;
  font-size: 10px;
  line-height: 14px;
  color: $border-orange;
  background-color: $questions-bg;
  padding: 7px 9px 0 13px;
  left: -170px;
  top: 20px;
  width: 182px;
  display: none;
  z-index: 5;
}

.service__guarantee-item:hover .service__note-text {
  display: block;
}

.service__guarantee-item:hover .service__label {
  color: $black;
  border-color: $black;
}

.service__wrap {
  display: none;
}

@media (max-width: $notebook) {
  .service {
    max-width: 1200px;
    width: 83.5%;
    margin-bottom: 186px;
  }

  .service__title {
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 8px;
  }

  .service__slogan {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 74px;
  }

  .service__item {
    padding-top: 117px;
    width: 20.15%;

    &--setting {
      background-position: top 0 left 11px;
    }
  }

  .service__name {
    font-size: 20px;
    line-height: 27px;
  }

  .service__name::before {
    bottom: -4px;
  }

  .service__text {
    font-size: 16px;
    line-height: 24px;
  }

  .service__list {
    justify-content: flex-start;
  }

  .service__item:not(:last-child) {
    margin-right: 5.25%;
  }
}

@media (max-width: $tablet) {
  .service {
    max-width: 631px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 119px;
  }

  .service__item {
    min-width: 248px;
    margin-bottom: 47px;
  }

  .service__item:not(:last-child) {
    margin-right: 0;
  }

  .service__list {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: $mobile) {
  .service {
    max-width: 280px;
    padding: 0;
    margin-bottom: 144px;
  }

  .service__title {
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 9px;
  }

  .service__slogan {
    line-height: 24px;
    margin-bottom: 33px;
  }

  .service__list {
    position: relative;
    min-height: 320px;
    display: block;
    margin-bottom: 26px;
  }

  .service__item {
    background-position: left 50% top 0;
    padding: 115px 0 0 7%;
    min-width: 100%;
    margin: 0;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;

    &--showing-slide {
      opacity: 1;
      z-index: 2;
    }
  }

  .service__name {
    margin-bottom: 14px;
  }

  .service__wrap {
    display: flex;
    justify-content: center;
  }

  .service__button {
    width: 22px;
    padding: 5px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

    &--previous {
      margin-right: 10px;

      span {
        background-color: $border-orange;
      }
    }

    &--next {
      span {
        background-color: $black;
      }
    }

    &--previous span::before {
      left: 0;
      transform: rotate(-135deg);
      background-color: $border-orange;
      top: 2px;
    }

    &--next span::before {
      right: 0;
      transform: rotate(45deg);
      background-color: $black;
      top: -2px;
    }
  }

  .service__button span {
    display: block;
    width: 12px;
    height: 1px;
    position: relative;
  }

  .service__button span::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 1px;
  }

  .service__button:hover span,
  .service__button:focus span {
    background-color: $orange;
  }

  .service__button:hover span::before,
  .service__button:focus span::before {
    background-color: $orange;
  }

  .service__button:active {
    opacity: 0.7;
  }

  .service__guarantee-list {
    display: flex;
    flex-wrap: wrap;
  }

  .service__note-text {
    left: 20px;
  }
}
