$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #403637;
$dark-beige: #e8d4c9;
$orange: #dd7d5c;
$red: #f32c12;
$light-pink: #fcf9f7;
$black-hover: #000000;
$notebook: 1440px;
$tablet: 768px;
$mobile: 320px;
$pale-orange: #987a6e;
$border-orange: #cba696;
$questions-bg: #fdfbfa;
